<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>All Customers</title>
</head>
<body>
    <div class="container">
    <h1><%= message %></h1> 
    <table class="table">     
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Current Balance</th>
                <th>Account No</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>   
        <tbody>
         <% for(var i = 0 ; i < alldata.length ; i++) { %>
            
            <tr>
                <td><%= alldata[i].id %></td>
                <td><%= alldata[i].name %></td>
                <td><%= alldata[i].email %></td>
                <td><%= alldata[i].currentBalance %></td>
                <td><%= alldata[i].accountNo %></td>
                <td><%= alldata[i].age %></td>
                <td><%= alldata[i].gender %></td>
                <td> <a href="/transfer/<%= alldata[i].accountNo %>" class="btn btn-secondary">Tranfer</a> </td>
            </tr>
        <% }  %>
       </tbody>
    </table>

    <p>Total Data : <%= alldata.length %> </p>
    <a href = "/" class="btn btn-info" >Home</a>
    <a href = "/deleteData" class="btn btn-danger" >Delete Customers</a>
    <a href = "/createData" class="btn btn-success" >Create Customers</a>
    <a href ="/transactionhistory" class="btn btn-info">Show Transactions</a>
    <br>
    </div>

    <br><br><br>
</body>
</html>